*   {
    justify-content: center;
}

body {
    margin: 100px 300px 100px 300px;
}

h3  {
    text-align: center;
}

img {
    width: 203px;
}

h2  {
    text-align: center;
    color: gray;
}

h6  {
    text-align: center;
}

h1  {
    margin: 1px auto 3px 5px;
}

h5  {
    text-align: center;
}

h4  {
    text-align: center;
    margin: 5px 5px 15px 5px;
    color: gray;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 5px;
}

.grid-item  {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 5px;
}

.box_one    {
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
}

.row_1  {
    padding-left: 5px;
}

.row_2  {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

.row_3  {
    padding-left: 10px;
    padding-right: 10px;
}

.row_4  {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.row_5  {
    padding-left: 10px;
}

.row_6  {
    text-align: center;
    padding-top: 15px;
}

#continue   {
    padding: 5px 150px 5px 150px;
    background-color: goldenrod;
    border-radius: 8px;
}

ul  {
    margin-top: 25px;
    margin-bottom: 25px;
}

.grid-row   {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    margin: 1px 500px 1px 500px;
}

.row_7  {
    color: gray;
}

.row_8  {
    color: gray;
}

.row_9  {
    color: gray;
}

.row_10  {
    text-align: center;
    padding-bottom: 50px;
}

#cyaa   {
    padding: 5px 100px 5px 100px;
    background-color: rgb(204, 188, 188);
    border-radius: 1px;
}

.grid-container-two {
    display: grid;
    grid-template-columns: auto auto auto;
    border-top: 2px solid gray;
    column-gap: 10px;
    padding-top: 30px;
}
